<div class="container">
  <h1>Welcome to Huginn and Muninn Research</h1>
  <div class="row">
    <div class="col-md-6">
      <img src="assets/huginn-muninn.jpg" alt="Huginn & Muninn">
    </div>
    <div class="col-md-6">
      <p>Huginn and Muninn are Odin's ravens in Norse mythology. They are said to fly around the world and bring back information to Odin. At Huginn and Muninn Research, we focus on technical topics including software development, and we strive to bring you the latest information and insights from the world of technology.</p>
    </div>
  </div>
</div>
