<div class="container">
  <h1>Welcome to Huginn // Muninn</h1>
  <div class="row">
    <div class="col-md">
      <p>We are a consultancy offering services in software development, data science and physics simulation, including the design and implementation of complex architectures, implementation of data visualisation through dashboards and predictive services.
        The team also has capability in specific domains:</p>
      <ul>
        <li>Maritime physical simulation</li>
        <li>Oil & gas</li>
        <li>Engineering consultancy</li>
        <li>Soldier systems</li>
      </ul>
    </div>
  </div>
</div>
